h2 {
	margin: 15px 0 10px;
	line-height: 1.0em;
}
ul {
	padding: 0;
	list-style: none;
}
td {
	text-align: center;
}
dl {
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}
dt {
	width: 20%;
	font-weight: bold;
	text-align: right;
}
dd {
	width: 80%;
	margin: 0;
	margin-bottom: 10px;
}
img {
	max-width: 100px;
	max-height: 100px;
}
.error {
	color: #ff0000;
}
.success {
	color: #009933;
}
